<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Awesome Site</title>
        <link rel="stylesheet" href="/assets/css/default.css">
    </head>
        <header>
            <h1>Welcome to My Members</h1>
        </header>
        <div id="content">
            <table>
                <tr>
                    <th>email</th>
                    <th>role</th>
                    <th>is locked</th>
                    <th>change lock status</th>
                </tr>
                {{#members}}
                    <tr>
                        <td>{{email}}</td>
                        <td>{{role}}</td>
                        {{#isLocked}}
                        <td>TRUE</td>
                        <td>
                            <button type="button" onclick="location.href='/member/lock?email={{email}}&dolock=false'">do unlock</button>
                        </td>
                        {{/isLocked}}
                        {{^isLocked}}
                        <td>FALSE</td>
                        <td>
                            <button type="button" onclick="location.href='/member/lock?email={{email}}&dolock=true'">do lock</button>
                        </td>
                        {{/isLocked}}
                    </tr>
                {{/members}}
            </table>
            {{#changed_member}}
                <p>member {{email}} was changed</p>
                {{#changed_lock_status}}
                    <p>member lock status cheanged to {{changed_member.isLocked}}</p>
                {{/changed_lock_status}}
            {{/changed_member}}
        </div>
        <script src="/assets/js/default.js"></script>
    </body>
</html>