<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Awesome Site</title>
    </head>
    <body>
        {{>partial/header_partial}}
        <div id="content">
            <p>Welcome to My Awesome Site - Board Create Page</p>
        </div>
        <form action="/boards/create" method="post">
            <div>
                <label>board's name : </label> <input type="text" name="name">
            </div>
            <div>
                <input type="submit" value = "do create!">
            </div>
        </form>
        <script></script>
    </body>
    {{>partials/footer_partial}}
</html>