<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            My Awesome Site
        </title>
    </head>
    <body>
        <header>
            <h1>Welcome to My Awesome Site - Boards List</h1>
        </header>
        <div id="content">
        <table>
        <tr>
            <th>id</th>
            <th>baord name</th>
            <th>update</th>
            <th>delete</th>
        </tr>
        <tbody>
            {{#boards}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/boards/{{id}}">{{name}}</a></td>
                <td>
                    <button type="button" onclick="location.href='/boards/update?id={{id}}'">do it!</button>
                </td>
                <td>
                    <button type="button" onclick="doDelete({{id}})">do it!</button>
                </td>
            </tr>
            {{/boards}}
        </tbody>
        </table>
        </div>
        <div>
            <button type="button" onclick="location.href='/boards/create'">board create</button>
        </div>
    </body>
    <script>
    function doDelete(num_id)
    {
        var http = new XMLHttpRequest();
        var url_to = window.location.origin + "/boards/"+num_id;
        http.open("DELETE", url_to);
        http.addEventListener("readystatechange", function(){
            if(http.readyState === 4 && http.status === 200)
            {
                window.location.reload(true);
            }
        });
        http.send();
    }
    </script>
</html>