<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body class="d-flex flex-column min-vh-100">
        {{>partials/header_partial}}
        {{#board}}
        <p>Welcome to My Awesome Site - Board Detail Page</p>
        <div class = "container-fluid">
            <p>{{board.name}} 게시판 정보 Page 입니다.</p>
            <button class="btn btn-warning" type="button" onclick="location.href='/boards/update?id={{board.id}}'">게시판 정보 수정</button>
            <button class="btn btn-secondary" type="button" onclick="location.href='/boards'">게시판 목록으로 이동</button>
        </div>
        <br>
        <div class = "container-fluid">
            <button class="btn btn-primary" type="button" onclick="location.href='/posts/create?board_id={{board.id}}&board_name={{board.name}}'">게시글 작성</button>
        </div>
        <br>
        <div class="container-fluid">
            <input type="hidden" value={{board.id}} name="board_id"/>
            <div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>post id</th>
                        <th>post title</th>
                        <th>update</th>
                        <th>delete</th>
                    </tr>
                </thead>
                <tbody>
                {{#posts}}
                <tr>
                    <td>{{id}}</td>
                    <td><a href="/posts/{{id}}?board_id={{board.id}}">{{title}}</a></td>
                    <td><button class="btn btn-warning" type="button" onclick="location.href='/posts/update?id={{id}}'">do it!</button></td>
                    <td><button class="btn btn-danger" type="button" onclick="doPostDelete({{id}})">do it!</button></td>
                </tr>
                {{/posts}}
                </tbody>
            </table>
            </div>
        </div>
        <script>
        function doPostDelete(num_id)
        {
            var http = new XMLHttpRequest(); 
            var url_to = window.location.origin + "/posts/" + num_id;
            http.open("DELETE", url_to);
            http.addEventListener("readystatechange", function(){
                if(http.readyState === 4 && http.status === 200)
                {
                    window.location.reload(true);
                }
            });
            http.send();
        }
        </script>
        {{/board}}
{{>partials/footer_partial}}
    </body>
</html>