<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body>
        {{>partials/header_partial}}
        <div class="container-fluid">
            <p>Welcome to Privilege update page!</p>
            {{#privilege}}
            <form action="/privileges/{{id}}" method = "POST">
                <input type="hidden" value={{id}} name="id">
                <div class="md-3">
                    <label class="form-label">privilege name</label> 
                    <input type="text" class="form-control" placeholder="ex : post_write" name="name" value="{{name}}">
                </div>
                <div class="md-3">
                    <label class="form-label">privilege desc</label> 
                    <input type="text" class="form-control" placeholder="ex : privilege for post write" name="desc" value="{{desc}}">
                </div>
                
                <div>
                    <br>
                    <input class="btn btn-info" type="submit" value="do update!">
                    <button class="btn btn-secondary" type="button" onclick="location.href='/privileges'">back to list!</button>
                </div>
            </form>
            {{/privilege}}
        </div>
        <script>
        </script>
    </body>
    {{>partials/footer_partial}}
</html>