<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body>
        {{>partial/header_partial}}
        <div id="content">
            <p>Welcome to Privilege list page</p>
            <form action="/privileges/create" method="POST">
                <label>privilege name : </label><input type="text" name="name"><br>
                <label>privilege desc : </label><input type="text" name="desc"><br>
                <input type="submit" value="do create!">
            </form>
        </div>
        <script>
        </script>
    </body>
    {{>partials/footer_partial}}
</html>