<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Awesome Site</title>
    </head>
    <body>
        <header>
            <h1>Welcome to privilege list page</h1>
        </header>
        <div id="content">
            <p>Hello, World!</p>
            <table>
            <th>privilege name</th>
            <th>desc</th>
            <th>update</th>
            <th>delete</th>
            {{#privileges}}
            <tr>
            <td><label><a href="/privileges/{{id}}">{{name}}</label></td>
            <td><label>{{desc}}</label></td>
            <td><button type="button" onclick="location.href='/privileges/update?id={{id}}'" >do it!</button></td>
            <td><button type="button" onclick="onDelete({{id}})" >do it!</button></td>
            </tr>
            {{/privileges}}
            </table>
        </div>
        <div>
        <button type="buttom" onclick="location.href='/privileges/create'">create new role!</button>
        </div>
        <script>
        function onDelete(id)
        {
            var http = new XMLHttpRequest(); 
            var url_to = window.location.origin + "/privileges/" + id;
            http.open("DELETE", url_to);
            http.addEventListener("readystatechange", function(){
                if(http.readyState === 4 && http.status === 200)
                {
                    window.location.reload(true);
                }
            });
            http.send();
        }
        </script>
    </body>
</html>