<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body class="d-flex flex-column min-vh-100">
        {{>partials/header_partial}}
        <div class="container-fluid">
            <p>Welcome to Privilege list page</p>
            <form action="/privileges/create" method="POST">
                <div class="md-3">
                    <label class="form-label">privilege name</label> 
                    <input type="text" class="form-control" placeholder="ex : post_write" name="name">
                </div>
                <div class="md-3">
                    <label class="form-label">privilege desc</label> 
                    <input type="text" class="form-control" placeholder="ex : privilge for post_write" name="desc">
                </div>
                <br>
                <input class="btn btn-info" type="submit" value="do create!">
            </form>
        </div>
        <script>
        </script>
{{>partials/footer_partial}}
    </body>
</html>