<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body class="d-flex flex-column min-vh-100">
        {{>partials/header_partial}}
        <div class = "container-fluid">
            <p>권한(Privileges) 목록 Page 입니다.</p>
            <div>
                <button type="button" class="btn btn-primary" onclick="location.href='/privileges/create'">권한 생성하기</button>
            </div> 
            <br>
            <table class="table table-striped table-hover table-bordered">
                <thead >
                    <tr>
                        <th>privilege name</th>
                        <th>desc</th>
                        <th>detail</th>
                        <th>update</th>
                        <th>delete</th>
                    </tr>
                </thead>
                <tbody>
                {{#privileges}}
                    <tr>
                        <td><label>{{name}}</label></td>
                        <td><label>{{desc}}</label></td>
                        <td><button class="btn btn-info" type="button" onclick="location.href='/privileges/{{id}}'" >do it!</button></td>
                        <td><button class="btn btn-warning" type="button" onclick="location.href='/privileges/update?id={{id}}'" >do it!</button></td>
                        <td><button class="btn btn-danger" type="button" onclick="onDelete({{id}})" >do it!</button></td>
                        </tr>
                {{/privileges}}
                </tbody>
            </table>
        </div>

        <script>
        function onDelete(id)
        {
            var http = new XMLHttpRequest(); 
            var url_to = window.location.origin + "/privileges/" + id;
            http.open("DELETE", url_to);
            http.addEventListener("readystatechange", function(){
                if(http.readyState === 4 && http.status === 200)
                {
                    window.location.reload(true);
                }
            });
            http.send();
        }
        </script>
{{>partials/footer_partial}}
    </body>
</html>