<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body>
        {{>partial/header_partial}}
        <div id="content">
            <p>Welcome to Privilege update page!</p>
            {{#privilege}}
            <form action="/privileges/{{id}}" method = "POST">
                <input type="hidden" value={{id}} name="id">
                <label>privilege name : </label><input type="text" name="name" value="{{name}}"><br>
                <label>privilege desc : </label><input type="text" name="desc" value="{{desc}}"><br>
                <input type="submit" value="do update!">
            </form>
            {{/privilege}}
        </div>
        <div>
            <button type="button" onclick="location.href='/privileges'">go back to privilege list</button>
        </div>
        <script>
        </script>
    </body>
    {{>partials/footer_partial}}
</html>