<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body class="d-flex flex-column min-vh-100">
        {{>partials/header_partial}}
        <div class = "container-fluid">
            <p>권한 정보 Page 입니다.</p>
            {{#privilege}}
            <form>
                <div class = "container-fluid">
                    <div class="md-3">
                        <label class="form-label">privilege name</label> 
                        <input type="text" class="form-control" placeholder="ex : post_write" name="name" readonly disabled value="{{name}}">
                    </div>
                    <div class="md-3">
                        <label class="form-label">privilege desc</label> 
                        <input type="text" class="form-control" placeholder="ex : privilege for post write" name="desc" disabled readonly value="{{desc}}">
                    </div>
                </div>
            </form>
            <div class = "container-fluid">
                <br>
                <button class="btn btn-info" type="button" onclick="location.href='/privileges/update?id={{id}}'">go to update</button>
                <button class="btn btn-secondary" type="button" onclick="location.href='/privileges'">back to list</button>
            </div>
            {{/privilege}}
        </div>
        <script>
        </script>
{{>partials/footer_partial}}
    </body>
</html>