<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Awesome Site</title>
    </head>
    <body>
        <header>
            <h1>Welcome to Privilege update page</h1>
        </header>
        <div id="content">
            <p>Hello, World!</p>
            {{#privilege}}
            <form action="/privileges/{{id}}" method = "POST">
                <input type="hidden" value={{id}} name="id">
                <label>privilege name : </label><input type="text" name="name" value="{{name}}"><br>
                <label>privilege desc : </label><input type="text" name="desc" value="{{desc}}"><br>
                <input type="submit" value="do update!">
            </form>
            {{/privilege}}
        </div>
        <div>
            <button type="button" onclick="location.href='/privileges'">go back to privilege list</button>
        </div>
        <script>
        </script>
    </body>
</html>