<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body>
        {{>partials/header_partial}}
        <div class="container-fluid">
            <form>
                <label>about for me</label>
            </form>
        </div>
    </body>
</html>