<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <main class="d-flex flex-column min-vh-100">
        {{>partials/header_partial}}
        <body>
            <div class="container-fluid">
                <br>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h3>Contact Me</h3>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Info</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" value="1990년생 서버 개발자" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Name</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" value="허영욱" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" value="gjduddnr5923@naver.com" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </body>
        {{>partials/footer_partial}}
    </main>
</html>

