<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <main class="d-flex flex-column min-vh-100">
        {{>partials/header_partial}}
        <body>
            <div class="container-fluid">
                <h3>Contact Me</h3>
                <ul>
                    <li><label>name : 허영욱</label></li>
                    <br>
                    <li><label>Email : gjduddnr5923@naver.com</label></li>
                </ul>
            </div>
        </body>
        {{>partials/footer_partial}}
    </main>
</html>

