<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Awesome Site</title>
    </head>
    <body>
        <header>
            <h1>Welcome to My Awesome Site</h1>
        </header>
        <div id="content">
            <p>Hello, World!</p>
            {{#username}}
            <p>your name is {{username}}!, right?</p>
            {{/username}}
            <img src="/images/index_icon.jpg" alt="img not exist"/>
            {{^username}}
            <div>
                <button type="button" onclick="location.href='/member/sign-in'">go to sign in</button>
                <button type="button" onclick="location.href='/member/sign-up'">go to sign up</button>
            </div>
            {{/username}}
            {{#username}}
            <div>
                <button name="sign_out_btn" type="button" onclick="onSignOutClicked()">go to sign out</button>
            </div>
            {{/username}}
            <div>
                <button type="button" onclick="location.href='/boards'">check board list</button>
            </div>
            <div>
                <button type="button" onclick="location.href='/member/list'">check member list</button>
                <button type="button" onclick="location.href='/status'">check status</button>
            </div>
            <div>
                <button type="button" onclick="location.href='/test-authentication'">do test for authentication</button>
                <button type="button" onclick="location.href='/test-authorization'">do test for authorization</button>
            </div>
        </div>
    </body>
    <script>
        function onSignOutClicked()
        {
            var form = document.createElement("form");
            form.action = "/member/sign-out";
            form.method = "POST";
            document.body.appendChild(form);
            form.submit();
        }
    </script>
</html>