<!DOCTYPE html>
<html lang="en">
    {{>partials/head_partial}}
    <body class="d-flex flex-column min-vh-100">
        {{>partials/header_partial}}
        <div id="content">
            <div class = "container-fluid">
                <p>서비스 소개 : 간단한 Blog 기능을 구현한 프로젝트입니다.!</p>
            </div>
        </div>
    </body>
    <script>
    </script>
    {{>partials/footer_partial}}
</html>