<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body>
        {{>partials/header_partial}}
        <div id="content">
            <p>Hello, World!</p>
        </div>
    </body>
    {{>partials/footer_partial}}
</html>