<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <title>My Awesome Site</title>
    </head>
        <header>
            <h1>Welcome to My sign up page</h1>
        </header>
        <div id="content">
            <form action="/member/sign-up-process" method="post" name = "sign_up_form">
                <div>
                    <label>email</label>
                    <input type="email" name="email">
                </div>
                <div>
                    <label>password</label>
                    <input type="password" name="password">
                </div>
                <div>
                    <input type="submit" value="sign up">
                </div>
            </form>
        </div>
    </body>
</html>