<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body class="d-flex flex-column min-vh-100">
        {{>partials/header_partial}}
        <div id="content">
            <form action="/member/sign-in-process" method="post">
                <div>
                    <label>email</label>
                    <input type="email" name="email">
                </div>
                <div>
                    <label>password</label>
                    <input type="password" name="password">
                </div>
                <div>
                    <input type="submit" value="sign in">
                </div>
                <div>
                    <label>
                        <input type="checkbox" name="remember">
                        Remember me on this device??
                    </label> 
                </div>
            </form>
        </div>
{{>partials/footer_partial}}
    </body>
</html>