<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Awesome Site</title>
    </head>
    <body>
    {{#post}}
        <header>
            <h1>Board name is {{board.name}}, post update page</h1>
        </header>
        <div id="content">
            <form method="POST" action="/posts/{{id}}">
                <input name = "id" type="hidden" value={{id}}>
                <input name = "board_id" type="hidden" value={{board.id}}>
                <div>
                    <label>post title : </label><input type="text" name = "title" value={{title}}>
                </div>
                <div>
                <label>contents : </label><br/><input type="text" name = "content" value={{content}}>
                </div>
                <div>
                <input type="submit" value="post update!">
                </div>
            </form>
        </div>
        <script>
        </script>
    {{/post}}
    </body>
</html>