<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body>
        {{>partial/header_partial}}
        <div>
            <p>Board name is {{board_name}}, post create page</p>
            <div id="content">
                <form method="POST" action="/posts/create">
                    <input name = "board_id" type="hidden" value={{board_id}}> 
                    <div>
                    <label>post title : </label><input type="text" name = "title">
                    </div>
                    <div>
                    <label>contents : </label><br/><input type="text" name = "content">
                    </div>
                    <div>
                    <input type="submit" value="post create!">
                    </div>
                </form>
            </div>
        </div>
        <script>
        </script>
    </body>
    {{>partials/footer_partial}}
</html>