<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body class="d-flex flex-column min-vh-100">
        {{>partials/header_partial}}
        {{#post}}
        <div class = "container-fluid">
            <form>
                <div class="md-3">
                    <label class="form-label">Post Tile</label> 
                    <input type="text" class="form-control" name="title" readonly disabled value="{{title}}">
                </div>
                <div class="md-3">
                    <label class="form-label">Post content</label> 
                    <input type="text" class="form-control" name="content" readonly disabled value="{{content}}">
                </div>
            </form>
        </div>
        <br>
        <div class="container-fluid">
            <div style="border:3px solid" class = "container-fluid g-3">
                <p>댓글 목록</p>
                {{#comments}}
                    {{>comments/comment_partial}}
                {{/comments}}
                {{#commentPageDto}}
                    {{>layouts/simple_pagination}}
                {{/commentPageDto}}
            </div>
        <br>
            <div style="border:3px solid" class = "container-fluid g-3">
                <p>댓글 입력 창</p>
                <form action = "/comments/create", method = "POST">
                    <input type="hidden" name="postId" value={{post.id}}>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="try add your comment" aria-label="Recipient's username with two button addons" name="comment">
                        <input class="btn btn-info" type="submit" value="댓글 작성">
                    </div>
                </form>
                <br>
            </div>
        </div>

        <div class = "container-fluid">
            <br>
            <button class="btn btn-warning" type="button" onclick="location.href='/posts/update?id={{post.id}}'">게시물 수정</button>
            <button class="btn btn-secondary" type="button" onclick="location.href='/boards/{{board_id}}'">게시판으로 이동</button>
        </div>
        {{/post}}
        <script src="/js/simple_script.js">
        </script>
{{>partials/footer_partial}}
    </body>
</html>