<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="?page={{previousOrFirstPageIdx}}"><<</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{previousPageIdx}}"><</a>
        </li>
        {{#pageIndexes}}
        <li class="page-item">
            <a class="page-link" href="?page={{first}}">{{second}}</a>
        </li>
        {{/pageIndexes}}
        <li class="page-item">
            <a class="page-link" href="?page={{nextPageIdx}}">></a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{nextOrLastPageIdx}}">>></a>
        </li>
    </ul>
</nav>
