<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {{#hasPrevious}}
            <li class="page-item">
                <a class="page-link" href="?page={{previousOrFirstPageIdx}}"><<</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{previousPageIdx}}"><</a>
            </li>
        {{/hasPrevious}}
        {{^hasPrevious}}
            <li class="page-item disabled">
                <a class="page-link" href="?page={{previousOrFirstPageIdx}}"><<</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="?page={{previousPageIdx}}"><</a>
            </li>
        {{/hasPrevious}}
        {{#hasContent}}
            {{#beforePageIndexes}}
                <li class="page-item">
                    <a class="page-link" href="?page={{first}}">{{second}}</a>
                </li>
            {{/beforePageIndexes}}
            {{#curPageIndex}}
                <li class="page-item">
                    <a class="page-link text-decoration-underline" href="?page={{first}}">{{second}}</a>
                </li>
            {{/curPageIndex}}
            {{#afterPageIndexes}}
                <li class="page-item">
                    <a class="page-link" href="?page={{first}}">{{second}}</a>
                </li>
            {{/afterPageIndexes}}
        {{/hasContent}}
        {{^hasContent}}
            <li class="page-item disabled">
                <a class="page-link" href="?page=0">1</a>
            </li>
        {{/hasContent}}
        {{#hasNext}}
            <li class="page-item">
                <a class="page-link" href="?page={{nextPageIdx}}">></a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{nextOrLastPageIdx}}">>></a>
            </li>
        {{/hasNext}}
        {{^hasNext}}
            <li class="page-item disabled">
                <a class="page-link" href="?page={{nextPageIdx}}">></a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="?page={{nextOrLastPageIdx}}">>></a>
            </li>
        {{/hasNext}}
    </ul>
</nav>
