<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <main class="d-flex flex-column min-vh-100">
        {{>partials/header_partial}}
        <body>
            <div class="container-fluid">
                <h2>error page 입니다.</h2>
                <div class="col-12">
                    <label>error : {{error}}</label>
                </div>
            </div>
        </body>
        {{>partials/footer_partial}}
        <script></script>
    </main>
</html>