<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body>
        {{>partials/header_partial}}
        <div id="content">
            <p>Hello, World!, Welcome to Role list page</p>
            <table>
            <th>role name</th>
            <th>desc</th>
            <th>update</th>
            <th>delete</th>
            {{#roles}}
            <tr>
            <td><label><a href="/roles/{{id}}">{{name}}</label></td>
            <td><label>{{desc}}</label></td>
            <td><button type="button" onclick="location.href='/roles/update?id={{id}}'" >do it!</button></td>
            <td><button type="button" onclick="onDelete({{id}})" >do it!</button></td>
            </tr>
            {{/roles}}
            </table>
        </div>
        <div>
        <button type="buttom" onclick="location.href='/roles/create'">create new role!</button>
        </div>
        <script>
        function onDelete(id)
        {
            var http = new XMLHttpRequest(); 
            var url_to = window.location.origin + "/roles/" + id;
            http.open("DELETE", url_to);
            http.addEventListener("readystatechange", function(){
                if(http.readyState === 4 && http.status === 200)
                {
                    window.location.reload(true);
                }
            });
            http.send();
        }
        </script>
    </body>
    {{>partials/footer_partial}}
</html>