<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Awesome Site</title>
    </head>
    <body>
        <header>
            <h1>Welcome to Role list page</h1>
        </header>
        <div id="content">
            <p>Hello, World!</p>
            <form action="/roles/create" method="POST">
                <label>role name : </label><input type="text" name="name"><br>
                <label>role desc : </label><input type="text" name="desc"><br>
                <input type="submit" value="do create!">
            </form>
        </div>
        <script>
        </script>
    </body>
</html>