<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body class="d-flex flex-column min-vh-100">
        {{>partials/header_partial}}
        <div id="content" class="container-fluid">
            <div>
                <p>
                    현재 역할 목록입니다.
                    역할을 관리할 수 있습니다.
                </p>
            </div>
            <div class="container-fluid">
                <button class="btn btn-primary" type="button" onclick="location.href='/roles/create'">역할 생성하러 가기</button>
            </div>
            <br>
            <div class="container-fluid">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>role name</th>
                            <th>role desc</th>
                            <th>role detail</th>
                            <th>role update</th>
                            <th>role delete</th>
                        </tr>
                    <thead>
                    <tbody>
                        {{#roles}}
                        <tr>
                            <td><label>{{name}}</label></td>
                            <td><label>{{desc}}</label></td>
                            <td><button class="btn btn-info" type="button" onclick="location.href='/roles/{{id}}'" >do it!</button></td>
                            <td><button class="btn btn-warning" type="button" onclick="location.href='/roles/update?id={{id}}'" >do it!</button></td>
                            <td><button class="btn btn-danger" type="button" onclick="onDelete({{id}})" >do it!</button></td>
                        </tr>
                        {{/roles}}
                    </tbody>
                </table>
                <div class="container-fluid">
                    {{#pageDto}}
                        {{>layouts/simple_pagination}}
                    {{/pageDto}}
                </div>
            </div>
        </div>
        <script>
        function onDelete(id)
        {
            var http = new XMLHttpRequest(); 
            var url_to = window.location.origin + "/roles/" + id;
            http.open("DELETE", url_to);
            http.addEventListener("readystatechange", function(){
                if(http.readyState === 4 && http.status === 200)
                {
                    window.location.reload(true);
                }
            });
            http.send();
        }
        </script>
{{>partials/footer_partial}}
    </body>
</html>