<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body>
        {{>partials/header_partial}}
        <div id="content" class = "container-fluid">
            <div class = "container-fluid">
                <p>역할 정보 갱신 page 입니다.</p>
            </div>
            {{#role}}
            <form action="/roles/{{id}}" method="POST">
                <div class = "container-fluid">
                    <input type="hidden" value={{id}} name="role_id">
                    <div class="md-3">
                        <label class="form-label">role name</label> 
                        <input type="text" class="form-control" placeholder="ex : admin" name="name" value={{name}}>
                    </div>
                    <div class="md-3">
                        <label class="form-label">role desc</label> 
                        <input type="text" class="form-control" placeholder="ex : authorization set for admin" name="desc" value={{desc}}>
                    </div>
                    {{#privileges}}
                        <div class="md-3">
                            <label class="form-label">privilege name</label> 
                            <input type="text" class="form-control" placeholder="ex : privilege set for admin" name="privilege_name_{{id}}" readonly value={{name}}>
                        </div>
                        <div class="md-3">
                            <label class="form-label">privilege desc</label> 
                            <input type="text" class="form-control" placeholder="ex : privilege set for admin" name="privilege_desc_{{id}}" readonly value={{desc}}>
                        </div>
                    {{/privileges}}
                </div>
                <div class = "container-fluid">
                    <br>
                    <input type="submit" class="btn btn-info" value="role update!">
                    <button class="btn btn-info" type="button" onclick="location.href='/roles'">back to role list</button>
                </div>
            </form>
            {{/role}}
        </div>
        <br>

        <script src="/js/simple_script.js"></script>
    </body>
    {{>partials/footer_partial}}
</html>