<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body>
        {{>partials/header_partial}}
        <div id="content" class="container-fluid">
            <p>역할 생성 page 입니다.</p>
            <form action="/roles/create" method="POST">
                <div class="md-3">
                    <label class="form-label">role name</label> 
                    <input type="text" class="form-control" placeholder="ex : admin" name="name">
                </div>
                <div class="md-3">
                    <label class="form-label">role desc</label> 
                    <input type="text" class="form-control" placeholder="ex : authorization desc for admin" name="desc">
                </div>
                <br>
                <div>
                    <input class="btn btn-info" type="submit" value="do create!">
                    <button class="btn btn-secondary" type="button" onclick="location.href='/roles'">back to list!</button>
                </div>
            </form>
        </div>
        <script>
        </script>
    </body>
    {{>partials/footer_partial}}
</html>