<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body>
        {{>partials/header_partial}}
        <div id="content" class = "container-fluid">
            <div class = "container-fluid">
                <p>역할 정보 page 입니다.</p>
            </div>
            <form>
                <div class = "container-fluid">
                {{#role}}
                    <div class="md-3">
                        <label class="form-label">role name</label> 
                        <input type="text" class="form-control" placeholder="etc : admin" name="name" readonly value="{{name}}">
                    </div>
                    <div class="md-3">
                        <label class="form-label">role desc</label> 
                        <input type="text" class="form-control" placeholder="etc : authorization desc for admin" name="desc" readonly value={{desc}}>
                    </div>
                    {{#privileges}}
                        <div class="md-3">
                            <label class="form-label">privilege name</label> 
                            <input type="text" class="form-control" placeholder="etc : privilege set for admin" name="privilege_name" readonly value={{name}}>
                        </div>
                        <div class="md-3">
                            <label class="form-label">privilege desc</label> 
                            <input type="text" class="form-control" placeholder="etc : privilege set for admin" name="privilege_desc" readonly value={{desc}}>
                        </div>
                    {{/privileges}}
                {{/role}}
                </div>
            </form>
            <div class = "container-fluid">
                <br>
                <button class="btn btn-info" type="button" onclick="location.href='/roles/update?id={{id}}'">role update</button>
                <button class="btn btn-secondary" type="button" onclick="location.href='/roles'">back to role list</button>
            </div>
        </div>
        <script>
        </script>
    </body>
    {{>partials/footer_partial}}
</html>