<div>
    {{#isDeleted}}
    <p>삭제된 댓글입니다.</p>
    {{/isDeleted}}
    {{^isDeleted}}
    {{#comment}}
        <div>
            {{#parentId}}
            <label>re to {{parentId}}: {{comment}}</label>
            {{/parentId}}
            {{^parentId}}
            <label>{{id}} : {{comment}}</label>
            {{/parentId}}
            <button type="text" onclick="doDeleteComment({{boardId}}, {{postId}}, {{id}})">delete</button>
            <button type="text" onclick="clickEditCommentBtn({{id}})">edit</button>
        </div>
        <div style="display:none" name="comment_edit_div_{{id}}">
            <form action="/comments/{{id}}" method = "POST">
                <input type="hidden" name="id" value="{{id}}">
                <input type="hidden" name="boardId" value="{{boardId}}">
                <input type="hidden" name="postId" value="{{postId}}">
                {{#parentId}}
                    <input type="hidden" name="parentId" value="{{parentId}}">
                {{/parentId}}
                <input type="hidden" name="isDeleted" value="{{isDeleted}}">
                <input type="hidden" name="isParentLive" value="{{isParentLive}}">
                <label>{{id}}'s update comment : </label><input type="text" name="comment">
                <input type="submit" value="do update!">
                <button type="button" onclick="cancleEditCommentBtn({{id}})">cancle update.</button>
            </form>
        </div>
    {{/comment}}
    {{/isDeleted}}
    {{#childs}}
    {{>comments/comment_partial}}
    {{/childs}}
</div>