<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body class="d-flex flex-column min-vh-100">
        {{>partials/header_partial}}
        <div class="container-fluid">
            <p>현재 작성된 모든 댓글 확인용 Page 입니다.</p>
            <div class="container row justify-content-start">
            {{#commentContainer}}
                <div class = " input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">제목</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" readonly value="{{postTitle}}">
                    <button class ="btn btn-info" type="text" onclick="location.href='/posts/{{postId}}?board_id={{boardId}}'">게시글로 이동</button>
                </div>
                <div class="row justify-content-start">
                    {{#comments}}
                    {{>comments/comment_partial}}
                    {{/comments}}
                </div>
            {{/commentContainer}}
            {{#pageDto}}
                {{>layouts/simple_pagination}}
            {{/pageDto}}
            </div>
        </div>
        {{>partials/footer_partial}}
    </body>
    <script></script>
</html>