<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body>
        {{>partial/header_partial}}
        {{#comments}}
        {{>comments/comment_partial}}
        {{/comments}}
        <script></script>
    </body>
    {{>partials/footer_partial}}
</html>