<div>
    {{#isDeleted}}
    <p>삭제된 댓글입니다.</p>
    {{/isDeleted}}
    {{^isDeleted}}
    {{#comment}}
    {{#parentId}}
    <label>re to {{parentId}}: {{comment}}</label>
    {{/parentId}}
    {{^parentId}}
    <label>{{id}} : {{comment}}</label>
    {{/parentId}}
    {{/comment}}
    {{/isDeleted}}
    {{#childs}}
    {{>comments/comment_partial}}
    {{/childs}}
</div>