<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body class="d-flex flex-column min-vh-100">
        {{>partials/header_partial}}
        <div class = "container-fluid">
            <p>유저 정보 page 입니다.</p>
        </div>
        <div id="content" class = "container-fluid">
        {{#member}}
            <form>
            <div class="md-3">
                <label class="form-label">email</label> 
                <input type="email" class="form-control" placeholder="{{email}}" name="email" readonly>
            </div>
            <div class = "md-3">
                <label class="col-sm-2 col-form-label">password</label>
                <input type="text" class="form-control" name="password" value="{{password}}" readonly>
            </div>
            <div>
                <div class="form-check form-check-inline form-check-reverse">
                    <label class="form-check-label" for="flexCheckDefault">
                        set user enabled?
                    </label>
                    <input class="form-check-input" type="checkbox" name="enabled" id="flexCheckDefault" {{#enabled}}checked{{/enabled}} disabled>
                </div>
                <div class="form-check form-check-inline  form-check-reverse">
                    <label class="form-check-label" for="flexCheckDefault">
                        set user expired?
                    </label>
                    <input class="form-check-input" type="checkbox" name="expired" id="flexCheckDefault" {{#expired}}checked{{/expired}} disabled>
                </div>
                <div class="form-check form-check-inline  form-check-reverse">
                    <label class="form-check-label" for="flexCheckDefault">
                        set user locked?
                    </label>
                    <input class="form-check-input" type="checkbox" name="locked" id="flexCheckDefault" {{#locked}}checked{{/locked}} disabled>
                </div>
            </div>
            <div class = "md-3">
                <label class="form-label">roles</label> 
                {{#roles}}
                    <div class = "row align-items-start">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="{{this.name}}" name="role_name_{{this.id}}" readonly>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="{{this.desc}}" name="role_desc_{{this.id}}" readonly>
                        </div>
                    </div>
                    <br>
                {{/roles}}
            </div>
            <br>
            <div class = "md-3">
                <label class="form-label">privileges</label> 
                {{#privileges}}
                    <div class = "row align-items-start">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="{{this.name}}" name="priv_name_{{this.id}}" readonly>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="{{this.desc}}" name="priv_desc_{{this.id}}" readonly>
                        </div>
                    </div>
                    <br>
                {{/privileges}}
            </div>
            <button class="btn btn-info" type="button" onclick="location.href='/members/update?id={{id}}'">member upate</button>
            <button class="btn btn-secondary" type="button" onclick="location.href='/members'">go back to member list</button>
        </form>
        {{/member}}
        </div>
        <script></script>
{{>partials/footer_partial}}
    </body>
</html>