<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body class="d-flex flex-column min-vh-100">
        {{>partials/header_partial}}
        <div class="container-fluid">
            <div>
                <p>
                    현재 유저 목록입니다.
                    임의로 유저 추가를 할 수 있습니다.
                </p>
            </div>
            <div class="container-fluid">
                <button class="btn btn-primary" type="button" onclick="location.href='/members/create'">유저 생성하러 가기</button>
            </div>
            <br>
            <div class="container-fluid">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>email</th>
                            <th>password</th>
                            <th>member detail</th>
                            <th>member update</th>
                            <th>member delete</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    {{#members}}
                    <tr>
                        <th><label>{{id}}</label></th>
                        <td>{{email}}</td>
                        <td><label>{{password}}</label></td>
                        <td><button class="btn btn-info" type="button", onclick="location.href='/members/{{id}}'">do it!</button></td>
                        <td><button class="btn btn-warning" type="button", onclick="location.href='/members/update?id={{id}}'">do it!</button></td>
                        <td><button class="btn btn-danger" type="button", onclick="doDelete({{id}})">do it!</button></td>
                    <tr>
                    {{/members}}
                    <tbody>
                </table>
            </div>
            <div class="container-fluid">
                {{#pageDto}}
                    {{>layouts/simple_pagination}}
                {{/pageDto}}
            </div>
        </div>
        <script>
        function doDelete(id)
        {
            var http = new XMLHttpRequest();
            var url_to = window.location.origin + "/members/" + id;
            http.open("DELETE", url_to);
            http.addEventListener("readystatechange", function(){
                if(http.readyState === 4 && http.status === 200)
                {
                    window.location.reload(true);
                }
            });
            http.send();
        }
        </script>
{{>partials/footer_partial}}
    </body>
</html>