<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Awesome Site</title>
    </head>
    <body>
        <header>
            <h1>Welcome to member page</h1>
        </header>
        <div id="content">
        {{#member}}
        <div>
            <label>id : {{id}}</label><br/>
            <label>email : {{email}}</label><br/>
            <label>password : {{password}}</label><br/>
            <label>is enabled? : </label> <input type="checkbox" {{#enabled}}checked{{/enabled}} disabled>
            <br>
            <label>is expired? : </label> <input type="checkbox" {{#expired}}checked{{/expired}} disabled>
            <br>
            <label>is locked? : </label> <input type="checkbox" {{#locked}}checked{{/locked}} disabled>
            <br>
        </div>
        {{/member}}
        <button type="button" onclick="location.href='/members'">go back to member list</button>
        </div>
        <script></script>
    </body>
</html>