<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body>
        {{>partial/header_partial}}
        <p>Welcome to member update page</p>
        <div id="content">
        {{#member}}
        <form action="/members/{{id}}", method = "POST">
            <input type="hidden" value={{id}}>
            <label>email : {{email}}</label>
            <br>
            <label>password : </label> <input name="password">
            <br>
            <label>is enabled? : </label> <input type="checkbox" {{#enabled}}checked{{/enabled}}>
            <br>
            <label>is expired? : </label> <input type="checkbox" {{#expired}}checked{{/expired}}>
            <br>
            <label>is locked? : </label> <input type="checkbox" {{#locked}}checked{{/locked}}>
            <br>
            <input type="submit" value="do update!!">
        </form>
        {{/member}}
        </div>
        <script></script>
    </body>
    {{>partials/footer_partial}}
</html>