<!DOCTYPE html>
<html lang="en">
<html>
    {{>partials/head_partial}}
    <body>
        {{>partial/header_partial}}
        <p>Welcome to Member Create page</p>
        <div id="content">
        <form action="/members/create" method="POST">
            <label>email : </label> <input name="email">
            <label>password : </label> <input name="password">
            <input type="submit" value="create!!">
            <label>is enabled? : </label> <input type="checkbox" {{#enabled}}checked{{/enabled}}>
            <br>
            <label>is expired? : </label> <input type="checkbox" {{#expired}}checked{{/expired}}>
            <br>
            <label>is locked? : </label> <input type="checkbox" {{#locked}}checked{{/locked}}>
            <br>
        </form>
        </div>
        <script>
        </script>
    </body>
    {{>partials/footer_partial}}
</html>