<footer class = "py-3 mt-auto navbar-fixed-bottom">
    <ul class="copyright">
        <li>© Untitled. All rights reserved.</li>
        <li style="color: black;">이 사이트는 포트폴리오 용도로 제작하였으며 상업적인 용도로 사용하지 않음을 밝힙니다.</li>
    </ul>
</footer>
